#php8的参数
PHP82_VERSION=8.2.0RC4
PHP82_PHP_CONF_FILE=./env/php82/php.ini
PHP82_FPM_CONF_FILE=./env/php82/php-fpm.conf
PHP82_LOG_DIR=./logs/php82
PHP82_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,bcmath,exif,gettext,intl,redis,sockets,zip,xsl,imapmimageick,mongodb,event,xlswriter
