#php8的参数
PHP81_VERSION=8.1
PHP81_PHP_CONF_FILE=./env/php81/php.ini
PHP81_FPM_CONF_FILE=./env/php81/php-fpm.conf
PHP81_LOG_DIR=./logs/php81
PHP81_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,bcmath,exif,gettext,intl,redis,sockets,zip,xsl,imapmimageick,mongodb,event,xlswriter
