#php8的参数
PHP80_VERSION=8.0.9
PHP80_PHP_CONF_FILE=./env/php80/php.ini
PHP80_FPM_CONF_FILE=./env/php80/php-fpm.conf
PHP80_LOG_DIR=./logs/php80
PHP80_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,bcmath,exif,gettext,intl,pcntl,redis,soap,sockets,zip,xsl,imapmimageick,mongodb,event,xlswriter
