#
# PHP7
#
# Available PHP_EXTENSIONS:
# 支持很多扩展，可以自行添加。建议查看xii.app
#
PHP74_VERSION=7.4.27
PHP74_PHP_CONF_FILE=./env/php74/php.ini
PHP74_FPM_CONF_FILE=./env/php74/php-fpm.conf
PHP74_LOG_DIR=./logs/php74
PHP74_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache