#
# SUPERVISOR
# 目前作用只是用来监控php-fpm,其他的需要自己编写
#
SUPERVISOR_CONFIG=./env/supervisor/conf.d/
SUPERVISOR_LOG=./logs/supervisor
SUPERVISOR_CONF_FILE=./env/supervisor/supervisord.conf
SUPERVISOR_HOST_PORT_C=9001
