#nginx配置
NGINX_VERSION=1.23.1-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_REWRITE_DIR=./env/nginx/rewrite
NGINX_VHOST_DIR=./env/nginx/vhost
NGINX_CONF_FILE=./env/nginx/nginx.conf
NGINX_FASTCGI_PHP_CONF=./env/nginx/fastcgi-php.conf
NGINX_FASTCGI_PARAMS=./env/nginx/fastcgi_params
NGINX_DHPARAM_PARAMS=./env/nginx/dhparam.pem
NGINX_SSL_CERTIFICATE_DIR=./env/nginx/ssl
NGINX_OTHER_DIR=./env/nginx/other
NGINX_LOG_DIR=./logs/nginx
NGINX_ACME_DIR=./env/nginx/acme
NGINX_CRONTAB_DIR=./env/nginx/crontab
NGINX_INSTALL_APPS=