SOURCE_DIR=./www
DATA_DIR=./data
TZ=Asia/Shanghai
ALPINE_VERSION=3.16

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
#
CONTAINER_PACKAGE_URL=mirrors.ustc.edu.cn