#
# PHP5.6
#
PHP56_VERSION=5.6.40
PHP56_PHP_CONF_FILE=./env/php56/php.ini
PHP56_FPM_CONF_FILE=./env/php56/php-fpm.conf
PHP56_LOG_DIR=./logs/php56
PHP56_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache
