#
# PHP7
#
# Available PHP_EXTENSIONS:
# 支持很多扩展，可以自行添加。建议查看xii.app
#
PHP73_VERSION=7.3.33
PHP73_PHP_CONF_FILE=./env/php73/php.ini
PHP73_FPM_CONF_FILE=./env/php73/php-fpm.conf
PHP73_LOG_DIR=./logs/php73
PHP73_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache